@model SeriesTracker.Models.AddSeasonModel

@{
    ViewData["Title"] = "AddSeason";
}

<h1>AddSeason</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSeason">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WikipediaURL" class="control-label"></label>
                <input asp-for="WikipediaURL" class="form-control" />
                <span asp-validation-for="WikipediaURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneSeason" class="form-text"></label>
                <input type="radio" checked value=true asp-for="OneSeason" /> Yes<br />
                <input type="radio" value=false asp-for="OneSeason" /> No<br />
            </div>
            <div class="form-group">
                <label asp-for="SpecifiedSeason" class="control-label"></label>
                <input asp-for="SpecifiedSeason" class="form-control" placeholder=" " />
                <span asp-validation-for="SpecifiedSeason" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="SeriesID" value=@Model.SeriesID /> <!--This seems a bit crude?-->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SeriesDetails" asp-route-id=@Model.SeriesID>Back to Episode List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
